/* Reminder to add smooth scrolling behavior to the HTML, Flex-boxing content, and @media rules for mobile screens */

html, body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}


nav{
    display: flex; 
}



#navbar a{
    padding: 10px;
}

.top-bar {
    
    background-image: linear-gradient(rgb(148, 127, 127), #000);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 100vw;
}
nav ul{
    list-style-type: none;
}

nav li{
    float: right;
    
}

nav li a{
 text-decoration: none;
 display: block;
 color: #fff;
 text-align: center;

}

section h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #38bd50;
    font-size: 45px;
    
}




#card-container-main {
    display: inline;
    padding: 1%;
    bottom: 100px;
    

    
  }

  
 
  .image-container-large img {
    width: 300px;
    height: 300px;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover; 
    border-radius: 4px;
  
  }

  .image-container-small img {
    width: 300px;
    height: 100px;
    max-width: 300px;
    max-height: 100px;
    object-fit: cover; 
    
  }
  
  #content {
    position: relative;
    color: #000;
    padding: 10px;
    width: 10%;
    background-color: #38bd50;
    bottom: 10px;
    
  }
  
 /* .image-container-small  {
    margin: 0;
    padding: 0;
  } */
  


.content-align{
display:flex;
align-items: center;
}

.content-align h2{
    margin-right: 10px;
    border-right: 4px solid #38bd50;
    padding-right: 10px;
}

.top-bar h1{
    float: left;
    color: rgb(166, 127, 68);
}

.beach-banner{
    background-image:url("./beach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 17vh;
    box-shadow: 7px 4px 4px ;
}

.beach-banner p{
    float: right;
    margin: 3%;
    top: 85px;
    position: relative;
    Color: #fff;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#avatar-border{
width: 30%;
height: auto;
max-width: 200px;
min-width: 200px;
border: 3px solid #000;
box-shadow: 5px 5px 5px #fff;
border-radius: 6px;


}

@media screen and (max-width: 768px) {
    nav ul {
        display: flex;
      flex-direction: column ;

    }
    nav li{
        float: none;
    }

    .top-bar h1{
        display: flex;
        flex-direction: column;
        float: none;
    }

    main{ 
        display: flex;
        flex-direction: column;
    }

    .content-align p{
        flex-direction: center;
    }

    
  }

  @media screen and (max-height: 935px){
  .beach-banner, #avatar-border{
        display: none;
    }

}

  @media screen and (max-width: 768px){
    .beach-banner, #avatar-border{
          display: flex;
          flex-direction: center;
      }

      #avatar-border{
        order: 0;
        align-items: center;
      }
  
      .beach-banner{
        order: 1;
      }
      .image-container{
        width:100%;
      }
    }